<template>
    <div class="my-16 ml-6 block md:flex justify-between items-center md:mx-10 lg:mx-40">
        <div>
            <img src="./..\assets/images/logo.svg" alt="log-image" />
        </div>
        <div class="my-8 w-[327px] md:w-[385px]">
            <p>
                All rights reserved © Equalizer 2021
                Have any problems? Contact us via social media or email us at
            </p>
            <span class="font-bold">equalizer@example.com</span>
        </div>
        <div class="flex gap-4">
            <img src="./..\assets/images/icon-facebook.svg" alt="facebook-icon" />
            <img src="./..\assets/images/icon-instagram.svg" alt="instagram-icon" />
            <img src="./..\assets/images/icon-twitter.svg" alt="twitter-icon" />
        </div>
    </div>
</template>