<template>
    <div class="mb-10 flex flex-col bg-off-black rounded-lg md:h-[696px] md:mx-10 md:justify-center md:items-center lg:mx-40 lg:h-[650px]">
        <div class="ml-12 lg:-ml-64 lg:-mb-52">
            <img src="./..\assets/images/bg-pattern-2.svg" alt="hero-img">
        </div>
        <div class="-mt-[560px] w-[250px] mx-auto md:ml-20 lg:ml-72 lg:-mt-[480px]">
            <img src="./..\assets/images/illustration-app.png" alt="illustration-app">
        </div>

        <div class="h-[546px] bg-light-orange rounded-lg mt-12 md:w-[399px] md:-mt-48 lg:ml-72">
            <div class="ml-8 mt-10 flex flex-col gap-y-8">
                <div class="text-off-white">
                    <h3 class="text-4xl font-bold">Premium EQ</h3>
                    <p class="mt-3 text-lg w-[302px]">Get expert-level control with a robust equalizer, volume mixer, and spatial audio. Take your
                        listening experience to a whole new level and access all our incredible features!</p>
                </div>
                <div class="text-off-white flex flex-row items-center gap-2">
                    <h1 class="font-bold text-6xl">$4</h1>
                    <span class="font-normal text-xl">/ month</span>
                </div>
                <div class="flex flex-col gap-4 mb-10">
                    <div class="w-[296px] h-[61px] bg-off-black rounded-lg flex justify-center items-center gap-2 cursor-pointer hover:bg-light-blue">
                        <img src="./..\assets/images/icon-apple.svg" alt="apple-icon" />
                        <h4 class="text-off-white text-lg font-bold">iOS Download</h4>
                    </div>
                    <div class="w-[296px] h-[61px] bg-off-white rounded-lg flex justify-center items-center gap-2 cursor-pointer hover:bg-light-yellow">
                        <img src="./..\assets/images/icon-android.svg" alt="apple-icon"/>
                        <h4 class=" text-lg font-bold">Android Download</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup></script>