<template>
    <div>
        <div class="flex justify-between h-[281px]">
            <div class="w-[146px] mt-10 ml-6 z-10 -mr-20 md:ml-10 lg:ml-40">
                <img src="./..\assets/images/logo.svg" alt="log-image" />
            </div>

            <div class="w-[300px] bg-sky-blue opacity-10 md:w-[400px] md:h-[400px] md:-mr-20 rounded-full">
            </div>
            <div class="w-[266px] h-[400px] hidden md:block lg:w-[312px]">
                <img class="" src="./..\assets/images/bg-pattern-1.svg" alt="bg-pattern"/>
            </div>
        </div>
        <div class="flex -mt-20 justify-between mb-32">
            <div class="w-[327px] ml-6 -mr-28 z-10 md:-mr-20 md:w-[500px] md:h-[400px] md:ml-10 lg:ml-40 lg:w-[1015px]">
                <h2 class="text-off-black text-4xl md:text-7xl font-bold">
                    We make your music sound extraordinary.
                </h2>
                <p class="text-off-black mt-4 md:text-lg">A system audio equalizer specifically designed for Android and iOS. Freely tune the way your music sounds
                    with a professional grade parametric EQ & volume mixer. Control bass, mids, treble, gain control,
                    reverb, and more!</p>
            </div>
            <div class="w-[300px] bg-yellow opacity-10 rounded-full  md:w-[400px] md:h-[400px] ">
            </div>
        </div>
    </div>
</template>
<script setup></script>