<template>
  <div class="lg:min-w-[62.5rem] md:min-w-[48rm] min-w-[20rem] bg-off-white font-IbmPlexSans">
    <AppHeader />
    <AppHero />
    <AppFooter />
    <div class="bg-off-black text-off-white md:text-light-yellow lg:text-light-blue">
        desktop
      </div>
      <div class="bg-off-black text-off-white md:text-light-yellow lg:text-light-blue">mobile</div>
      <div class="bg-off-black text-off-white md:text-light-yellow lg:text-light-blue">tablet</div>
  </div>
</template>

<script setup>
import AppHeader from "@/components/AppHeader.vue";
import AppHero from "./components/AppHero.vue";
import AppFooter from "@/components/AppFooter.vue";
</script>

<style>

</style>
